/* 
hola 👋 emoji:
*/


/*sob*/
img[src="/assets/a6b1ba6fa378a731.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1438128337523441754.png");
}
button[data-name="sob"] {
    background-image: url("https://cdn.discordapp.com/emojis/1438128337523441754.png");
    background-size: 95%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*pray*/
img[src="/assets/607676c4d5d72659.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1435630925194199102.webp?size=128");
}
button[data-name="pray"] {
    background-image: url("https://cdn.discordapp.com/emojis/1435630925194199102.webp?size=128");
    background-size: 95%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*pregnant_man*/
img[src="/assets/7c3fda67f4f0a6a7.svg"] {
        content: url("https://cdn.discordapp.com/emojis/1394018339734687887.webp?size=128");
}
button[data-name="pregnant_man"] {
    background-image: url("https://cdn.discordapp.com/emojis/1394018339734687887.webp?size=128");
    background-size: 85%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*wilted_rose*/
img[src="/assets/72c408f051b42abe.svg"] {
        content: url("https://cdn.discordapp.com/emojis/1421831219410108436.webp?size=48&name=wilted_skull");
}
button[data-name="wilted_rose"] {
    background-image: url("https://cdn.discordapp.com/emojis/1421831219410108436.webp?size=48&name=wilted_skull");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*drooling_face*/
img[src="/assets/ba9a27032dae1395.svg"] {
        content: url("https://cdn.discordapp.com/emojis/1421433588825722921.webp?size=48&name=iamweird");
}
button[data-name="drooling_face"] {
    background-image: url("https://cdn.discordapp.com/emojis/1421433588825722921.webp?size=48&name=iamweird");
    background-size: 95%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*man_in_motorized_wheelchair_facing_right*/
img[src="/assets/99a9410f2d527943.svg"] {
        content: url("https://cdn.discordapp.com/emojis/1441788944152006709.webp?size=96");
}
button[data-name="man_in_motorized_wheelchair_facing_right"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441788944152006709.webp?size=96");
    background-size: 95%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*people_hugging*/
img[src="/assets/78f24f398f77cb09.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1439479363505623101.webp?size=128");
}
button[data-name="people_hugging"] {
    background-image: url("https://cdn.discordapp.com/emojis/1439479363505623101.webp?size=128");
    background-size: 95%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*pensive*/
img[src="/assets/8ad827d7dad91d44.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1363817028208820316.webp?size=96");
}
button[data-name="pensive"] {
    background-image: url("https://cdn.discordapp.com/emojis/1363817028208820316.webp?size=96");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*smiling_face_with_3_hearts*/
img[src="/assets/10b67e5181089c99.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1193618810897444914.webp?size=48");
}
button[data-name="smiling_face_with_3_hearts"] {
    background-image: url("https://cdn.discordapp.com/emojis/1193618810897444914.webp?size=48");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}


/*cry*/
img[src="/assets/70b84e11c04222b5.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1397599286606299186.webp?size=96");
}
button[data-name="cry"] {
    background-image: url("https://cdn.discordapp.com/emojis/1397599286606299186.webp?size=96");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/*cool(use id)*/
img[data-id="1116228064020549633"] {
        content: url("https://cdn.discordapp.com/emojis/1350183346763862086.webp?size=48&name=nigga_cool");
}
button[data-id="1116228064020549633"] {
    background-image: url("https://cdn.discordapp.com/emojis/1350183346763862086.webp?size=48&name=nigga_cool");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}
/*pick change*/
img[aria-label=":cool_bean: from Rugbug Redfern Games"] {
    display: none;
}


/*bean_hollow(use id)*/
img[data-id="1151655994418536448"] {
        content: url("https://cdn.discordapp.com/emojis/1350183329168752725.webp?size=96");
}
button[data-id="1151655994418536448"] {
    background-image: url("https://cdn.discordapp.com/emojis/1350183329168752725.webp?size=96");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}
img[aria-label=":bean_hollow: from Rugbug Redfern Games"] {
    display: none;
}


/*hollow(use id)*/
img[data-id="885724077128564826"] {
        content: url("https://cdn.discordapp.com/emojis/1441807929689772062.webp?size=48&name=nigga_hollow~1");
}
button[data-id="885724077128564826"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441807929689772062.webp?size=48&name=nigga_hollow~1");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}
img[aria-label=":hollow~2: from Rugbug Redfern Games"] {
    display: none;
}
img[aria-label=":hollow: from Rugbug Redfern Games"] {
    display: none;
}

/*1_  :sad_bean:(use id)*/
img[data-id="1151658661995876484"] {
        content: url("https://cdn.discordapp.com/emojis/1441820477231464598.webp?size=96");
}
button[data-id="1151658661995876484"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441820477231464598.webp?size=96");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}
img[aria-label=":sad_bean: from Rugbug Redfern Games"] {
    display: none;
}


/*2_   :bean_beg:(use id)*/
img[data-id="1151658687396581397"] {
        content: url("https://cdn.discordapp.com/emojis/1441820516410196179.webp?size=96");
}
button[data-id="1151658687396581397"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441820516410196179.webp?size=96");
    background-size: 90%;
    background-repeat: no-repeat;
    div {
        display: none;
    }
}
img[aria-label=":bean_beg: from Rugbug Redfern Games"] {
    display: none;
}