/* 
hola 👋 emoji:
*/


/*sob*/
img[src="/assets/a6b1ba6fa378a731.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1438128337523441754.png");
}
button[data-name="sob"] {
    background-image: url("https://cdn.discordapp.com/emojis/1438128337523441754.png");
    background-size: 87%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*pray*/
img[src="/assets/607676c4d5d72659.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1435630925194199102.webp");
}
button[data-name="pray"] {
    background-image: url("https://cdn.discordapp.com/emojis/1435630925194199102.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*pregnant_man*/
img[src="/assets/7c3fda67f4f0a6a7.svg"] {
        content: url("https://cdn.discordapp.com/emojis/1394018339734687887.webp");
}
button[data-name="pregnant_man"] {
    background-image: url("https://cdn.discordapp.com/emojis/1394018339734687887.webp");
    background-size: 82%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*wilted_rose*/
img[src="/assets/72c408f051b42abe.svg"] {
        content: url("https://cdn.discordapp.com/emojis/1421608418161983529.webp");
}
button[data-name="wilted_rose"] {
    background-image: url("https://cdn.discordapp.com/emojis/1421608418161983529.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*drooling_face*/
img[src="/assets/ba9a27032dae1395.svg"] {
        content: url("https://cdn.discordapp.com/emojis/1421433588825722921.webp");
}
button[data-name="drooling_face"] {
    background-image: url("https://cdn.discordapp.com/emojis/1421433588825722921.webp");
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*man_in_motorized_wheelchair_facing_right*/
img[src="/assets/99a9410f2d527943.svg"] {
        content: url("https://cdn.discordapp.com/emojis/1441788944152006709.webp");
}
button[data-name="man_in_motorized_wheelchair_facing_right"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441788944152006709.webp");
    background-size: 82%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*people_hugging*/
img[src="/assets/78f24f398f77cb09.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1439479363505623101.webp");
}
button[data-name="people_hugging"] {
    background-image: url("https://cdn.discordapp.com/emojis/1439479363505623101.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*pensive*/
img[src="/assets/8ad827d7dad91d44.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1363817028208820316.webp");
}
button[data-name="pensive"] {
    background-image: url("https://cdn.discordapp.com/emojis/1363817028208820316.webp");
    background-size: 84%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*smiling_face_with_3_hearts*/
img[src="/assets/10b67e5181089c99.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1193618810897444914.webp");
}
button[data-name="smiling_face_with_3_hearts"] {
    background-image: url("https://cdn.discordapp.com/emojis/1193618810897444914.webp");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}


/*cry*/
img[src="/assets/70b84e11c04222b5.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1397599286606299186.webp");
}
button[data-name="cry"] {
    background-image: url("https://cdn.discordapp.com/emojis/1397599286606299186.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}

/*stuck_out_tongue*/
img[src="/assets/426e7fc34498f6f9.svg"] {
    content: url("https://media.discordapp.net/stickers/1274427443632935026.png");
}
button[data-name="stuck_out_tongue"] {
    background-image: url("https://media.discordapp.net/stickers/1274427443632935026.png");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}

/*bomb*/
img[src="/assets/30b6b17d3bd321b3.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1424025683499286590.webp");
}
button[data-name="bomb"] {
    background-image: url("https://cdn.discordapp.com/emojis/1424025683499286590.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}

/*heart*/
img[src="/assets/8838f014a5d2ce59.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1350892152913133679.webp");
}
button[data-name="heart"] {
    background-image: url("https://cdn.discordapp.com/emojis/1350892152913133679.webp");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}

/*exploding_head*/
img[src="/assets/1f55627ee38e8bb6.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1374434208268812338.webp");
}
button[data-name="exploding_head"] {
    background-image: url("https://cdn.discordapp.com/emojis/1374434208268812338.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}

/*fish*/
img[src="/assets/7f7c4e8710f7a58e.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1419087276050485360.webp");
}
button[data-name="exploding_head"] {
    background-image: url("https://cdn.discordapp.com/emojis/1419087276050485360.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}

/*thong_sandal*/
img[src="/assets/189c69cce633948f.svg"] {
    content: url("https://cdn.discordapp.com/emojis/1441935397503635529.webp");
}
button[data-name="thong_sandal"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441935397503635529.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* cool(use id) */
img[data-id="1116228064020549633"] {
        content: url("https://cdn.discordapp.com/emojis/1350183346763862086.webp");
}
button[data-id="1116228064020549633"] {
    background-image: url("https://cdn.discordapp.com/emojis/1350183346763862086.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}
/*pick change*/
img[aria-label=":cool_bean: from Rugbug Redfern Games"] {
    display: none;
}


/*bean_hollow(use id)*/
img[data-id="1151655994418536448"] {
        content: url("https://cdn.discordapp.com/emojis/1350183329168752725.webp");
}
button[data-id="1151655994418536448"] {
    background-image: url("https://cdn.discordapp.com/emojis/1350183329168752725.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}
img[aria-label=":bean_hollow: from Rugbug Redfern Games"] {
    display: none;
}


/*hollow(use id)*/
img[data-id="885724077128564826"] {
        content: url("https://cdn.discordapp.com/emojis/1441807929689772062.webp");
}
button[data-id="885724077128564826"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441807929689772062.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}
img[aria-label=":hollow~2: from Rugbug Redfern Games"] {
    display: none;
}
img[aria-label=":hollow: from Rugbug Redfern Games"] {
    display: none;
}

/*1_  :sad_bean:(use id)*/
img[data-id="1151658661995876484"] {
        content: url("https://cdn.discordapp.com/emojis/1441820477231464598.webp");
}
button[data-id="1151658661995876484"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441820477231464598.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}
img[aria-label=":sad_bean: from Rugbug Redfern Games"] {
    display: none;
}


/*2_   :bean_beg:(use id)*/
img[data-id="1151658687396581397"] {
        content: url("https://cdn.discordapp.com/emojis/1441820516410196179.webp");
}
button[data-id="1151658687396581397"] {
    background-image: url("https://cdn.discordapp.com/emojis/1441820516410196179.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    div {
        display: none;
    }
}
img[aria-label=":bean_beg: from Rugbug Redfern Games"] {
    display: none;
}
